{% extends "global/Page.html" %}
{% load otree static %}


{{ block title }}
    Pregunta
{{ endblock }}
{{ block content }}
<p>
    Entre los actuales candidatos a la presidencia,
    ¿por quién es más probable que usted vaya a votar en la primera vuelta (el próximo 29 de mayo de 2022)?
    </p>

<p>

<table class="table table-hover" style='width: auto'>
    {% for field in form %}
            {% for choice in field %}
        <!-- toca mostrar dos cosas la choice y su label para que el loop funcione!-->
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp; {{ choice }} &nbsp;{{ choice.label }}</td></tr>
            {% endfor %}
    {% endfor %}
</table>

 {{ next_button }}

{{ endblock }}
