{% extends "global/Page.html" %}
{% load otree static %}


{{ block title }}
Ahore le vemos a mostrar comunicaciones en redes
sociales relativas a las próximos elecciones
presidenciales colombianas.
{{ endblock }}
{{ block content }}

<!-- It's a javascript file which will perform
all actions which we need to show tweets-->

<p>Por favor lea con detenimiento la siguiente información.
    Pasados 35 segundos aparecerá el botón siguiente para avanzar en la encuesta.</p>

{{ if player.treatment == 0 or player.treatment == 1 }}
    <blockquote class="twitter-tweet"><p lang="es" dir="ltr">
    El domingo 29 de mayo podrás ejercer tu derecho al voto para
    elegir al presidente y vicepresidente de la república para el
    período 2022-2026. <br><br>¡Participa, vota y elige! 🗳🙋🏾‍♀️🙋🏿‍♂️
    <a href="https://twitter.com/hashtag/GarantesDeLaDemocracia?src=hash&amp;ref_src=twsrc%5Etfw">
        #GarantesDeLaDemocracia</a> <a href="https://t.co/AsB2wUyQNz">pic.twitter.com/AsB2wUyQNz</a>
</p>&mdash; Registraduría Nacional del Estado Civil (@Registraduria)
    <a href="https://twitter.com/Registraduria/status/1514284904829358080?ref_src=twsrc%5Etfw">
        April 13, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">

</script>

<script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script>

<style>
   .otree-btn-next {
        display:none
       }
</style>

<script>
setTimeout(function() {
    $('.otree-btn-next').show()
    }, 35000);
</script>


{{ elif player.treatment == 2 or player.treatment == 3 }}
{{ if player.pe_fi == 1 }}
<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Dr Petro le duele que trabajo en el agro y nada tengo en el<br>extranjero ni escondido. <br><br>Entendible en un vago, enredador, fantoche de mansiones y atuendos, que no ha producido más que crímenes, incitación a la violencia, y contratos corruptos pagados con bolsas de billetes</p>&mdash; Álvaro Uribe Vélez (@AlvaroUribeVel) <a href="https://twitter.com/AlvaroUribeVel/status/1471419656481165317?ref_src=twsrc%5Etfw">December 16, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script>
{{ else }}
<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Neo nazis en RCN. <a href="https://t.co/tYZzHF0Yaw">https://t.co/tYZzHF0Yaw</a></p>&mdash; Gustavo Petro (@petrogustavo) <a href="https://twitter.com/petrogustavo/status/1508421880444858372?ref_src=twsrc%5Etfw">March 28, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script>

{{ endif }}

{{ elif player.treatment == 4 or player.treatment == 5  }}
{{ if player.pe_fi == 1 }}
<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Neo nazis en RCN. <a href="https://t.co/tYZzHF0Yaw">https://t.co/tYZzHF0Yaw</a></p>&mdash; Gustavo Petro (@petrogustavo) <a href="https://twitter.com/petrogustavo/status/1508421880444858372?ref_src=twsrc%5Etfw">March 28, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script>
{{ else}}
<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Dr Petro le duele que trabajo en el agro y nada tengo en el<br>extranjero ni escondido. <br><br>Entendible en un vago, enredador, fantoche de mansiones y atuendos, que no ha producido más que crímenes, incitación a la violencia, y contratos corruptos pagados con bolsas de billetes</p>&mdash; Álvaro Uribe Vélez (@AlvaroUribeVel) <a href="https://twitter.com/AlvaroUribeVel/status/1471419656481165317?ref_src=twsrc%5Etfw">December 16, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script>
 {{ endif }}

{{ elif player.treatment == 6 or player.treatment == 7 }}
<style>
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}
</style>
  <div id="contenedor">
  <div>
    <p>
<blockquote class="twitter-tweet"><p lang="es" dir="ltr">Dr Petro le duele que trabajo en el agro y nada tengo en el<br>extranjero ni escondido. <br><br>Entendible en un vago, enredador, fantoche de mansiones y atuendos, que no ha producido más que crímenes, incitación a la violencia, y contratos corruptos pagados con bolsas de billetes</p>&mdash; Álvaro Uribe Vélez (@AlvaroUribeVel) <a href="https://twitter.com/AlvaroUribeVel/status/1471419656481165317?ref_src=twsrc%5Etfw">December 16, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script>
    </p>
  </div>
  <div>
    <p> <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Neo nazis en RCN. <a href="https://t.co/tYZzHF0Yaw">https://t.co/tYZzHF0Yaw</a></p>&mdash; Gustavo Petro (@petrogustavo) <a href="https://twitter.com/petrogustavo/status/1508421880444858372?ref_src=twsrc%5Etfw">March 28, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src=
"https://platform.twitter.com/widgets.js" charset="utf-8">
</script></p>
  </div>
</div>
{{ else }}
    negative
{{ endif }}

 {{ next_button }}

{{ endblock }}
