{% extends "global/Page.html" %}
{% load otree static %}

{{ block title }}
    [Instrucciones]
{{ endblock }}
{{ block content }}

{{ if player.order_politics == 1 or player.order_politics == 2  }}
<p>
Propuesta (DISONANTE 1):
    El derecho al aborto no debe existir jurídica ni socialmente pues
    puede ser un mecanismo para estimularlo.  La política pública no
    debe favorecer el aborto sino propiciar una sociedad de aborto cero.
</p>
<p>
{{ if player.treatment == 2 or player.treatment == 4 or player.treatment == 6 or player.treatment == 0  }}

{{ elif player.treatment == 1 or player.treatment == 3 or player.treatment == 5 or player.treatment == 7 }}

<p><b>Esta propuesta es parte del programa o fue públicamente defendida por el candidato Gustavo Petro.</b></p>

{{ endif }}
</p>

<p>
   Ahora le pedimos que piense en la medida y responda sinceramente hasta
    qué punto está de acuerdo con su enunciado.  Use una escala del 1 al 7,
    donde 1 significa "No estoy de acuerdo en absoluto" y 7 "Estoy completamente de acuerdo".
    También puede usar los valores intermedios para indicar dónde se encuentra en la escala.
Apoyaría esta medida si se propusiera su implementación en mi país.

</p>
<p>
    <div class="table-responsive text-center align-middle">
        <table class="table table-bordered" style="max-width:970px; font-size: 12px">
            <tr>
                <td >No estoy de acuerdo en absoluto</td>
                <td><div class="radio "><label><input type="radio" name="q1a" value="1"> 1</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1a" value="2"> 2</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1a" value="3"> 3</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1a" value="4"> 4</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1a" value="5"> 5</label></div></td>
                  <td><div class="radio "><label><input type="radio" name="q1a" value="6"> 6</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1a" value="7"> 7</label></div></td>
                <td >Estoy completamente de acuerdo</td>
            </tr>
            <tr>
        </table>
    </div>
</p>

<p>
   Ahora le pedimos que piense en la medida y responda sinceramente qué
    tan probable cree que quien la propuso la implementaría si fuera
    elegido presidente.  Use una escala del 1 al 7, donde 1 significa
    "Es absolutamente improbable" y 7 "Es absolutamente probable".
    También puede usar los valores intermedios para indicar dónde se
    encuentra en la escala.
Apoyaría esta medida si se propusiera su implementación en mi país.

</p>

<p>
    <div class="table-responsive text-center align-middle">
        <table class="table table-bordered" style="max-width:970px; font-size: 12px">
            <tr>
                <td >No estoy de acuerdo en absoluto</td>
                <td><div class="radio "><label><input type="radio" name="q1b" value="1"> 1</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1b" value="2"> 2</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1b" value="3"> 3</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1b" value="4"> 4</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1b" value="5"> 5</label></div></td>
                  <td><div class="radio "><label><input type="radio" name="q1b" value="6"> 6</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q1b" value="7"> 7</label></div></td>
                <td >Estoy completamente de acuerdo</td>
            </tr>
            <tr>
        </table>
    </div>
</p>

{{ else }}
Propuesta (DISONANTE 2):
   No a la discriminación de la población LGTBI+.

<p>
{{ if player.treatment == 2 or player.treatment == 4 or player.treatment == 6 or player.treatment == 0  }}

{{ elif player.treatment == 1 or player.treatment == 3 or player.treatment == 5 or player.treatment == 7 }}

<p><b>Esta propuesta es parte del programa o fue públicamente defendida por el candidato Fico Gutiérrez.</b></p>

{{ endif }}
</p>

<p>
   Ahora le pedimos que piense en la medida y responda sinceramente hasta qué punto
    está de acuerdo con su enunciado.  Use una escala del 1 al 7, donde 1 significa
    "No estoy de acuerdo en absoluto" y 7 "Estoy completamente de acuerdo". También
    puede usar los valores intermedios para indicar dónde se encuentra en la escala.
Apoyaría esta medida si se propusiera su implementación en mi país.

</p>
    <div class="table-responsive text-center align-middle">
        <table class="table table-bordered" style="max-width:970px; font-size: 12px">
            <tr>
                <td >No estoy de acuerdo en absoluto</td>
                <td><div class="radio "><label><input type="radio" name="q2a" value="1"> 1</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2a" value="2"> 2</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2a" value="3"> 3</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2a" value="4"> 4</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2a" value="5"> 5</label></div></td>
                  <td><div class="radio "><label><input type="radio" name="q2a" value="6"> 6</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2a" value="7"> 7</label></div></td>
                <td >Estoy completamente de acuerdo</td>
            </tr>
            <tr>
        </table>
    </div>

<p>
    Ahora le pedimos que piense en la medida y responda sinceramente
    qué tan probable cree que quien la propuso la implementaría si fuera
    elegido presidente.  Use una escala del 1 al 7, donde 1 significa
    "Es absolutamente improbable" y 7 "Es absolutamente probable".
    También puede usar los valores intermedios para indicar dónde se
    encuentra en la escala.
Apoyaría esta medida si se propusiera su implementación en mi país.

</p>

 <div class="table-responsive text-center align-middle">
        <table class="table table-bordered" style="max-width:970px; font-size: 12px">
            <tr>
                <td >No estoy de acuerdo en absoluto</td>
                <td><div class="radio "><label><input type="radio" name="q2b" value="1"> 1</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2b" value="2"> 2</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2b" value="3"> 3</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2b" value="4"> 4</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2b" value="5"> 5</label></div></td>
                  <td><div class="radio "><label><input type="radio" name="q2b" value="6"> 6</label></div></td>
                <td><div class="radio "><label><input type="radio" name="q2b" value="7"> 7</label></div></td>
                <td >Estoy completamente de acuerdo</td>
            </tr>
            <tr>
        </table>
    </div>





{{ endif }}


 {{ next_button }}

{{ endblock }}

